assets/fontawesome/js/all.js
assets/fontawesome/js/all.min.js
assets/fontawesome/js/brands.js
assets/fontawesome/js/brands.min.js
assets/fontawesome/js/conflict-detection.js
assets/fontawesome/js/conflict-detection.min.js
assets/fontawesome/js/fontawesome.js
assets/fontawesome/js/regular.js
assets/fontawesome/js/regular.min.js
assets/fontawesome/js/solid.js
assets/fontawesome/js/solid.min.js
assets/fontawesome/js/v4-shims.js
assets/fontawesome/js/v4-shims.min.js
assets/fontawesome/css/all.css
assets/fontawesome/css/all.min.css
assets/fontawesome/css/brands.css
assets/fontawesome/css/fontawesome.css
assets/fontawesome/css/regular.css
assets/fontawesome/css/regular.min.css
assets/fontawesome/css/solid.css
assets/fontawesome/css/svg-with-js.css
assets/fontawesome/css/svg-with-js.min.css
assets/fontawesome/css/v4-font-face.css
assets/fontawesome/css/v4-font-face.min.css
assets/fontawesome/css/v4-shims.css
assets/fontawesome/css/v4-shims.min.css
assets/fontawesome/css/v5-font-face.css
assets/fontawesome/css/v5-font-face.min.css
assets/fontawesome/less/_animated.less
assets/fontawesome/less/_bordered-pulled.less
assets/fontawesome/less/_core.less
assets/fontawesome/less/_fixed-width.less
assets/fontawesome/less/_icons.less
assets/fontawesome/less/_list.less
assets/fontawesome/less/_mixins.less
assets/fontawesome/less/_rotated-flipped.less
assets/fontawesome/less/_screen-reader.less
assets/fontawesome/less/_shims.less
assets/fontawesome/less/_sizing.less
assets/fontawesome/less/_stacked.less
assets/fontawesome/less/_variables.less
assets/fontawesome/less/brands.less
assets/fontawesome/less/fontawesome.less
assets/fontawesome/less/regular.less
assets/fontawesome/less/solid.less
assets/fontawesome/less/v4-shims.less
assets/fontawesome/scss/_animated.scss
assets/fontawesome/scss/_bordered-pulled.scss
assets/fontawesome/scss/_core.scss
assets/fontawesome/scss/_fixed-width.scss
assets/fontawesome/scss/_functions.scss
assets/fontawesome/scss/_icons.scss
assets/fontawesome/scss/_list.scss
assets/fontawesome/scss/_mixins.scss
assets/fontawesome/scss/_rotated-flipped.scss
assets/fontawesome/scss/_screen-reader.scss
assets/fontawesome/scss/_shims.scss
assets/fontawesome/scss/_sizing.scss
assets/fontawesome/scss/_stacked.scss
assets/fontawesome/scss/_variables.scss
assets/fontawesome/scss/brands.scss
assets/fontawesome/scss/fontawesome.scss
assets/fontawesome/scss/regular.scss
assets/fontawesome/scss/solid.scss
assets/fontawesome/scss/v4-shims.scss
assets/fontawesome/LICENSE.txt
assets/fontawesome/metadata/categories.yml
assets/fontawesome/metadata/icon-families.json
assets/fontawesome/metadata/icon-families.yml
assets/fontawesome/metadata/icons.json
assets/fontawesome/metadata/icons.yml
assets/fontawesome/metadata/shims.json
assets/fontawesome/metadata/shims.yml
assets/fontawesome/metadata/sponsors.yml
assets/fontawesome/metadata/categories.yml
assets/fontawesome/metadata/icon-families.json
assets/fontawesome/metadata/icon-families.yml
assets/fontawesome/metadata/icons.json
assets/fontawesome/metadata/icons.yml
assets/fontawesome/metadata/shims.json
assets/fontawesome/metadata/shims.yml
assets/fontawesome/metadata/sponsors.yml
